# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Node / Next.js
node_modules/
.next/
dist/
out/

# Docker
storage/
*.log
*.pid
*.db

# VS Code
.vscode/
.DS_Store

# Build artifacts
*.cache
*.egg-info/
